@import "./normalize.css";

:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --theme_bg_color: #f4f5f5;
    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvegtica Neue",Helvetica,"PingFang SC" ,"Hiragino Sans GB","Microsoft YaHei"
    "微软雅黑",Arial,sans-serif;
    -webkit-tap-highlight-color: transparent;
    background: var(--theme_bg_color);
    width: 100vw; 
    
    /* 设置pc状态的页面视图 */
    /* width: 50vw;
    margin: 0 auto; */
}

a {
    color: var(--color-text);
    text-decoration: none;
}


.clear-fix::after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear-fix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}