.post-page{
  top: 70px;
  left: 0;
  position: fixed;
  width: 100%;
  /* 水平垂直居中 */
  display: flex;
  vertical-align: center;
  justify-content: center;
  height:90vh
}
.float-left {
  float: left;
  margin: 3px 0;
  overflow: hidden;
  width: 160px;
  height: 300px;
  background-color: #fff;
}
.post-page .el-scrollbar_wrap {
  overflow: hidden;
  width: 110%;
  height: 120%;
}
.left-navs{
  width: 80%;
  margin:10px auto;
}
.left-navs button{
  border:1px solid #fff
}
.float-right {
  padding-left: 6px;
  float: left;
  overflow: hidden;
  width: 710px;
}
.float-right .box-card {
  margin: 10px 0;
}